<app-navbar></app-navbar>
<div class="pageContiner">
  <div class="row examples-wrapper justify-content-center">
    <div class="examples col-lg-4 col-md-4 col-sm-4 text-center p-2">
      <mat-radio-group
        aria-label="Select an option"
        (change)="setSample($event)"
        [(ngModel)]="selectedSampleSize"
      >
        <mat-radio-button class="mx-2" value="6">6x7 example</mat-radio-button>
        <mat-radio-button class="mx-2" value="7">7x9 example</mat-radio-button>
        <mat-radio-button class="mx-2" value="10"
          >6x10 example</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <app-table [data]="data"></app-table>
  <br />
  <div class="container">
    <div class="row m-2">
      <div class="col-lg-12 text-center">
        <button mat-raised-button (click)="calculate()" color="primary">
          Calculate
        </button>
      </div>
    </div>
  </div>
  <div class="result-wrapper container p-2" *ngIf="result">
    <h2 class="text-center">
      Final maximization value (UAH):
      {{ result.finalMaximizationValue.toFixed(2) }} UAH
    </h2>
    <h2 class="text-center">
      Final distribution: {{ result.finalDistribution }}
    </h2>
    <h2 class="text-center">
      Final remaining resources: {{ result.finalRemainingResources }}
    </h2>
    <h2 class="text-center">
      Execution time: {{ executionTimeMs }} ms =
      {{ (executionTimeMs! / 1000).toFixed(6) }} secs
    </h2>
    <h3>Resolution steps:</h3>
    <div class="row d-flex">
      <div class="col-4" *ngFor="let step of result.steps; let i = index">
        <div class="row align-items-center">
          <div class="col-10">
            <mat-card class="step-card my-2" appearance="outlined">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Step #{{ step.stepNumber }}</mat-card-title>
                <mat-card-subtitle
                  >Deposit: {{ step.depositName }}</mat-card-subtitle
                >
              </mat-card-header>
              <mat-card-content>
                <p>Amount invested: {{ step.depositAmount }}</p>
                <p>Step profit: {{ step.stepProfit.toFixed(2) }}</p>
                <p>Total profit: {{ step.totalProfit.toFixed(2) }}</p>
                <p>Remaining resources: {{ step.remainingResources }}</p>
                <p>Current distribution: {{ step.currentDistribution }}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="i < result.steps.length - 1" class="col-2">
            <i class="fas fa-arrow-right" style="font-size: 3.73em"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
